body{background:linen;font-family:Arial, Helvetica, sans-serif; font-size: 1em;}
a:link {color: red;}
.wrap {max-width:93em;margin: auto;}
.header {height:100px;}
.logo {float: left; min-width:5em;}
.nome {float: left;}
.loghisocial {float:right;}
.logosocial {max-height:5em; max-width:5em;}
.corpo {width: 100%;}
.galleria{width:100%;}
.fotogalleria{width:33%; height: 15em;}
.motto{text-align: center; color:red;}
.menu{text-align: center; color:red;}
.menumob {display: none;}
.objmenu1 {color:red; font-weight:bold; text-decoration:underline;}
.blocco1 {margin:auto; max-width:60em;}
.chisiamo{display:none; max-width:60em; margin:auto;Text-wrap:break-word; color:black; }
.contatti{display:none; font-weight:bold;}
.albero {display:none; }
.albero1{float:left; width:50%;}
.albero2 {float:right; width:50%;}
.testo1 {max-height:62em; max-width:60em; overflow-y:scroll; margin:auto;}
.cookie {max-width:50em; z-index:60;}



@media (max-width:1024px){
body{font-size:32px;}
.nome{text-align:center;}
.wrap {max-width:62em;}
.header {max-width:62em;}
.logo,.loghisocial,.nome {width:100%;position:static; margin:auto; clear:both;text-align:center;}
.occhio {min-width:5em;}
.galleria {display:none;}
.motto {clear:both;}
.menumob {display: inline;}
.objmenu1 {display: block;margin: 0em 0em 5em 0em;}
.barramenu{display:none;}
.albero {max-width:62em}
.albero1,.albero2 {width:100%;position:static;margin:auto;text-align:center;} 
.contatti {text-align:center; text-wrap:break-word;}
.indirizzi {display:none;}


}















